/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/05/2019, 17:16:29
    Author     : Vitor
*/

body{
margin: 0;
padding: 0;
font-family: 'verdana';
background: url(img/andromeda2.jpg);;
}
header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: white;
    border-radius: 4px;
    box-shadow:  0 2px 5px rgba(0,0,0, .2);

}
.logo{
   color: blue;
   height: 60px;
   font-size: 36px;
   line-height: 60px;
   padding: 0 20px;
   background: #ccc;
   text-align: center;
   box-sizing: border-box;
   float: left;
   font-weight: 700;
   text-decoration: none;
}
nav{
    float: right;
}
.clearfix{
    clear:both;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;

}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}


nav ul li a.active, nav ul li a:hover{
    background: blue; 
    color:#fff;
    transition: 0.5s;
}   
@media(max-width: 1200px){
    header{
        margin: 20px;
    }
}

@media(max-width: 768px){
    .menu-toggle{
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: #ccc;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: blue;
    }
    .menu-toggle:before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
         
    }
        .menu-toggle.active:before
    {
        content: '\f00d';
         
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
        width: 100%;
    }
    nav.active ul {
        display: block;
    }
     nav.active ul li{
        margin: 0;
    }
}

.section1{
    display: block;
    background: white;
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 4px;
    box-shadow:  0 2px 5px rgba(0,0,0, .2);
}

a{
    
}
.footer-main-div{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: whitesmoke;
    padding: 20px 0px;
}

.footer-main-icons{
    width: 100%;
    height: auto;
    margin:auto; 
}

.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-social-icons ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: darkblue;    
}

.footer-social-icons ul li a{
    color: white;
    font-size: 25px;
    display: block;
}

.footer-social-icons ul li a i{
    line-height: 50px;
}

.footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;  
    margin-top: 25px;
}

.footer-menu-one ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-menu-one ul li{
    display: inline-block;
    margin: 0px 10px;
    
}

.footer-menu-one ul li a{
    font-family: arial;
    font-size: 15px;
    font-weight: 600;
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-menu-two{
    width: 100%;
    height: auto;
    margin: auto;  
    margin-top: 10px;
}

.footer-menu-two ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-menu-two ul li{
    display: inline-block;
    margin: 0px 10px;
    
}

.footer-menu-two ul li a{
    font-family: arial;
    font-size: 15px;
    font-weight: 600;
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-menu-one ul li a:hover{
    color: black;
    
}

.footer-menu-two ul li a:hover{
    color:black;
}

.footer-social-icons ul li:hover{
    background: black;
}
.footer-social-icons ul li:hover a{
    color: darkblue;
}